/.idea/
sidequarter-frontend.iml

/resources/public/js/compiled/**
figwheel_server.log
profiles.clj
pom.xml
*jar
/lib/
/classes/
/out/
/target/
/resources/public/css/screen.css
.lein-deps-sum
.lein-repl-history
.lein-env
.lein-plugins/
.repl
